* {
  font-family: "Play", sans-serif;
  
}

body {
  background-color: white;
  margin: 0; /* Remove default margin to cover the entire viewport */
  height: 100vh; /* Set the height to cover the viewport vertically */

 
}

header {
  width: 100%;
  padding: 25px;
  color: black;
}

button {
  border-radius: 10px;
}
.logout {
  background-color: rgb(255, 0, 0);
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.blastoise {
  z-index: 4;
  width: 300px;
  height: 300px;
  position: relative;
  padding: 5px;
}
.charizard {
  z-index: 4;
  width: 300px;
  height: 300px;
  position: relative;
  padding: 5px;
}

.authBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  z-index: 1;
  position: relative;
}
.authglass {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200px;
  border-radius: 20px;
  backdrop-filter: blur(2px);
  background: rgb(255, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 67%
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.auth {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.loginInput {
  display: flex;
  border-radius: 100px;
}

.usernameInput {
  display: flex;
  border-radius: 100px;
}

.about-add {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  border-radius: 50px;
}
@media screen and (max-width: 768px) {

  .spacer{
    height: 60px;
  }
  .authBox {
    display: flex;
    flex-direction: column;
  }
  .authglass {
    width: 300px;
  }

  .blastoise {
    width: 200px;
    height: 200px;
  }
  .charizard {
    width: 200px;
    height: 200px;
  }

  .search-bar {
    display: flex;
    justify-content: center;
  }
  header {
    display: none;
  }

  .mobile-navbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px; /* Set your preferred height */
    position: fixed;
    gap: 50px;
    bottom: 0;
    left: 0;
   
    border-radius: 25px;
  }

  .mobile-nav {
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px; /* Set your preferred height */
    position: fixed;
    gap: 50px;
    background: linear-gradient(
      180deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 255, 255, 1) 67%
    );
    
    border-radius: 25px;
  }
}
.navIMG {
  width: 50px;
}

@media screen and (min-width: 768px) {
  footer {
    display: none;
  }
}

.poke-header {
  display: flex;
  gap: 15px;
  align-items: baseline;
}

.header-title {
  font-size: 50px;
}

.card-box {
  display: flex;
  justify-content: center;
  width: 100%;
}
.card-container {
  display: flex;
  flex-wrap: wrap;

  width: 65%;
  justify-content: center;

  gap: 30px;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .card-box {
    width: 100%;
  }
  .card-container {
    width: 100%;
    padding: 25px;
  }
}

.poke-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;

  box-sizing: border-box;

  align-items: center;
  color: black;
  background: rgb(255, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 67%
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 20px;
  padding: 25px;
}
.poke-card img {
  width: 80%;
}
.about {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.welcomeBox {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.stepOne {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 67%
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 20px;
  padding: 25px;
}
.stepTwo {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 67%
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 20px;
  padding: 25px;
}
.stepThree {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 67%
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 20px;
  padding: 25px;
}

.pokemonImages {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.groudon {
  width: 300px;
  height: 300px;
}
.kyogre {
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 768px) {
  .welcomeBoxBox {
    display: flex;
    width: 100%;
  }
  .welcomeBox {
  }

  .pokemonImages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .instructions {
    display: flex;
    width: 50%;
    height: auto;
  }
  .groudon {
    width: 300px;
    height: 300px;
  }
  .kyogre {
    width: 300px;
    height: 300px;
  }
}

.fightbtn-con{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
 
}
.fightbtn{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 67%
  );
}