body{
  padding: 20px;
}

header{
  background-color: blue;
  color: white;
}

.poke-header{
  display: flex;
  gap: 25px;
  align-items: baseline;
}

.header-title{
  font-size: 30px;
}


.card-box{
  display: flex;
  justify-content: center;
  width: 100vw;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  
  width: 65%;
  justify-content: center;
  
  gap: 30px;
  flex-wrap: wrap;
}

.poke-card{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 3px 10px black;
  align-items: center;
  gap: 5px;
  color: black;
  background-color: floralwhite;
  border-radius: 20px;
  border: 2px solid;
  border-color: floralwhite;
}
.poke-card img{
 width: 60%;
 
}
.about{
  display: flex;
  justify-content: space-between;
  padding: 50px;
}